@model WebApplication2.Models.Employee
@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-md-6">
        <h2>Employee Edit</h2>
    </div>
</div>
@using (Html.BeginForm("UpdateData", "Employee", FormMethod.Post))
{
<div class="row">
    @Html.HiddenFor(x => x.EmployeeId)
    <div class="col-md-6">
        @Html.LabelFor(x => x.Name)<span class="text-danger">*</span>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", })
        @Html.ValidationMessageFor(X => X.Name, null, new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(x => x.DapartmentId)<span class="text-danger">*</span>
        @Html.DropDownListFor(x => x.DapartmentId, ViewBag.Ged as SelectList, "---Select---", new { @class = "form-control" })
        @Html.ValidationMessageFor(X => X.DapartmentId, null, new { @class = "text-danger" })
    </div>
</div>
    <div class="row">
    <div class="col-md-12">
        @Html.LabelFor(x => x.Adderss)
        @Html.TextAreaFor(x => x.Adderss, new { @class = "form-control" })
    </div>
        </div>
    
<div style="margin-left:700px">
    <button type="submit" class="btn btn-outline-info">Save Data</button>      <a href="/Employee/List" class="btn btn-outline-danger">Go Back </a>
</div>
}

